$main-color: #0059ff;
$main-font: 'lato', sans-serif;

.menu {
    float: right;
    background-color: rgba(#f0c0c0, 0.9);//Компилирует значение с решеткой в rgb
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
        a {
            text-decoration: none;
        }
    }
    
}
.link {
    color: #fff;
    &:hover{
        color: #000;
    }
}
.about {
    &__title {
        color: $main-color;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
    }
    &__text {
        font-family: $main-font;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
    }
}
%any-item {
    text-decoration: underline;
    &:hover {
        cursor: pointer;
        color:$main-color;
        text-decoration: none;
    }
}
.item-1 {
    color:#fff;
    @extend %any-item;//Дублируем  класс, но используем параметры переменной
}
.item-2 {
    color:#ccc;
    @extend %any-item;
}
.item-3 {
    color:#000;
    @extend %any-item;

}