body {
	font-family: 'Roboto', sans-serif;
	color: #363636;
}

.visually-hidden {
	visibility: hidden;
}
.login-checkbox {
	position: relative;
	left: 50px;
	cursor: pointer;
	padding-left: 10px;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 17px;
	height: 17px;
	border: 2px solid #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 17px;
	height: 17px;
	background-image: url(check.svg);
	background-position: center;
	background-repeat: no-repeat;
}
.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

/* .login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";

	position: absolute;
	top: 8px;
	left: 1px;

	width: 15px;
	height: 2px;
	background-color: #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform: rotate(-45deg);
} */

.popup {
	position: absolute;
	left: 165px;
  top: 25px;
	padding: 20px;
	height: auto;
	width: 200px;
	border: solid 1px #000000;
	
}
.popup__title {
	margin-bottom: 10px;
	font-size: 20px;
}